<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:marketo="http://www.mulesoft.org/schema/mule/marketo" xmlns:ns6="http://www.mulesoft.org/schema/mule/jms" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/marketo http://www.mulesoft.org/schema/mule/marketo/current/mule-marketo.xsd">

    <global-property name="mule.env" value="dev" doc:name="Global Property" />

    <os:object-store name="watermarkStore" persistent="false" doc:name="Object store" />

    <configuration-properties file="common.properties" doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd" doc:name="Configuration properties" />
    <configuration-properties file="mule.${mule.env}.properties" doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9" doc:name="Configuration properties" />

    <salesforce:sfdc-config name="Salesforce_Config_A" doc:id="83702f7c-b0f5-4bce-b0a1-c63721640bfd" doc:name="Salesforce Config">
        <salesforce:basic-connection password="${sfdc.a.password}" securityToken="${sfdc.a.securityToken}" username="${sfdc.a.username}">
            <pooling-profile />
        </salesforce:basic-connection>
    </salesforce:sfdc-config>

    <salesforce:sfdc-config name="Salesforce_Config_B" doc:id="83702f7c-b0f5-4bce-b0a1-c63721640bfd" doc:name="Salesforce Config">
        <salesforce:basic-connection password="${sfdc.b.password}" securityToken="${sfdc.b.securityToken}" username="${sfdc.b.username}">
            <pooling-profile />
        </salesforce:basic-connection>
    </salesforce:sfdc-config>

    <marketo:config name="Marketo_Config" property_accessTokenUrl="${mkto.accessTokenUrl}" property_basePath="${mkto.basePath}" property_clientId="${mkto.clientId}" property_clientSecret="${mkto.clientSecret}" property_host="${mkto.host}" doc:id="8dc4ffb4-5c97-478f-b393-d524cb985299" doc:name="Marketo Config" />

    <ns6:config name="ActiveMQ" doc:id="5411c616-8b37-48d4-b875-2025440eef69" doc:name="JMS Config">
        <ns6:active-mq-connection password="${jms.password}" username="${jms.username}">
            <ns6:caching-strategy>
                <ns6:default-caching />
            </ns6:caching-strategy>
            <ns6:factory-configuration brokerUrl="${jms.brokerUrl}" maxRedelivery="2" />
        </ns6:active-mq-connection>
        <ns6:consumer-config>
            <ns6:consumer-type>
                <ns6:topic-consumer />
            </ns6:consumer-type>
        </ns6:consumer-config>
    </ns6:config>
</mule>
